* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form_datos .container__form {
    float: left;
    width: 80%;
    margin-bottom: 30px;
}

.form_representante .container__side {
    float: right;
    width: 20%;
}

.container .form_datos .container__form .form__group {
    padding: 0 10px;
    margin-bottom: 16px;
    font-weight: bold;
}

.container .form_datos .container__form .form__group label {
    display: inline-block;
    padding-left: 10px;
    width: 20%;
    font-size: 18px;
}

.container .form_datos .container__form .form__group input {
    width: 75%;
    height: 40px;
    padding: 4px;
    background-color: #BFBFBF;
    border: none;
    text-align: center;
    font-size: 16px;
}

.container .form_datos .container__form .form__group .input_rfc {
    width: 35%;
    height: 40px;
    padding: 4px;
    background-color: #BFBFBF;
    border: none;
    text-align: center;
    font-size: 16px;
}

.container .form_datos .container__form .form__group .label_persona {
    display: inline-block;
    width: 15%;
    padding-left: 18px;
}

.container .form_datos .container__form .form__group .input_persona {
    width: 20%;
    height: 40px;
    padding: 4px;
    background-color: #BFBFBF;
    border: none;
    text-align: center;
    font-size: 16px;
}

.container .form_representante {
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
}

.container .form_representante input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #BFBFBF;
    border: none;
    text-align: center;
    font-size: 16px;
}

.container .form_footer {
    width: 100%;
    height: 32px;
    margin: 50px 0;
    font-weight: bold;
    background-color: #BFBFBF;
    border: 1px solid #888888;
    padding-left: 20px;
}

.container .form_footer label {
    display: inline-block;
    padding-top: 5px;
}

.container .fundamento .fundamento__description {
    margin: 35px 20px;
    content: "";
    display: table;
    clear: both;
}

.container .fundamento .fundamento__description .img_left {
    margin: auto;
    height: 250px;
    border: 1px solid rgb(189, 189, 189);
    float: left;
}

.container .fundamento .fundamento__description .img_gobierno {
    margin: auto;
    float: right;
    width: 25%;
}

.container .fundamento .fundamento__description .img_gobierno p {
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0;
}

.container .fundamento .fundamento__description .img_right {
    margin: auto;
    height: 150px;
    border-radius: 80px;
    width: 90%;
}

.container .fundamento .fundamento__description img {
    width: 25%;
}

.container .fundamento .fundamento__description p {
    width: 45%;
    padding: 0 20px;
    text-align: justify;
    float: left;
    font-size: 19px;
}

.container .fundamento .fundamento__razon {
    text-align: center;
}

.container .fundamento .fundamento__razon label {
    font-weight: bold;
}

.container .fundamento .fundamento__razon input {
    width: 96%;
    height: 40px;
    margin: 10px;
    text-align: center;
    background-color: #BFBFBF;
    border: none;
    font-size: 16px;
}

.container .fundamento .fundamento__footer {
    margin: 35px 20px;
    margin-bottom: 200px;
}

.container .fundamento .fundamento__footer .datos {
    width: 40%;
    text-align: center;
    float: left;
}

.container .fundamento .fundamento__footer .datos label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.container .fundamento .fundamento__footer .datos input {
    display: inline-block;
    margin: 10px auto;
    height: 40px;
    background-color: #BFBFBF;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.container .fundamento .fundamento__footer .firma {
    width: 60%;
    text-align: center;
    float: right;
}

.container .fundamento .fundamento__footer .campo_firma {
    height: 75px;
}

.container .fundamento .fundamento__footer .firma label {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

.container .footer {
    width: 96%;
    height: 40px;
    margin: 0 20px;
    background-color: #BFBFBF;
}